body {
    background-color: #001946;
}
.container {
    border: solid 0 #0fc90e;
    border-radius: 10px;
    background-color: #000000;
    text-align: center;
    margin-top: 20px;
    
    
}
.answer {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.pytanie {
    background-color: #001946;
    color: white;
    font-size: 20pt;
    border: solid #f6a32d 5px;
    border-radius:10px;
    margin-bottom: 10px;
}
.answer {
    color: white;
    background-color: #001946;
    border: 3px #f6a32d solid;
    width:100%;height:70px;
    border-radius: 50px;
}
img {
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;

}
.answer:hover {
    background-color: #f6a32d;
    border: #515651 2px solid;
    
}
.answer:disabled {
    opacity: 0;
}
.help {
    font-size: 10pt;
    border: 0;
    width: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 20px;
        
}
.help:hover {
    background-color: #dddde7;
}
p {
    margin: 0;
    color: #f6a32d;
    font-weight: bold;
    padding: 1px;
}
.tryAgain {
    background-color: black;
    color: white;
    margin: 5px;
    border: 0;
    display: none;
        
}
:focus {
	outline: none;
}
