body {
    background-color: #377ef0;
    background-image: url(../pics/background.jpg);
}

.container {
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.menu {
    margin: 10px;
    margin-top: 0;
    color: #003f7f;
    margin-left: -20;
    
}
#myPhoto {
    border: 5px solid #003f7f;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.myPhoto {
    text-align: center;
}
.menu > ul {
    list-style: none;
    text-align: center;
    
}
.menu > ul > li {
    display: inline;
    padding: 20px;
    
}
.menu > ul > li > a {
    text-decoration: none;
    color: #003f7f;
    font-size: 18pt;
}


.headerText {
    text-align: center;
    background-color: #f8c63d;
    margin-top: -20;
    margin-left: -20;
    margin-right: -20;
    margin-bottom: 40;
    padding: 10;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
}
.rating {
    font-size: 16pt;
    color: #377ef0;
}

@media screen and (max-width: 1023px) {
    .image {
        display: none;
    }
    .container {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        border-radius: 0px;
    }
    .headerText {
        border-radius: 0px;
    }
    .menu > ul > li > a{
        font-size: 40pt;
    }
    .changeView {
        font-size: 16pt;
    }
    #owl-demo .item img {
        max-width: 50%;
    }
    #name, #email  {
        width: 100%;
    }
    #contactContent {
        width: 100%;
    }
}

.btn-one {
	color: blue;
	transition: all 0.3s;
	position: relative;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: blue;
	border-bottom-color: blue;
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	/*background-color: rgba(255,255,255,0.1);*/
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}
.changeView {
    text-align: center;
    cursor: pointer;
    float: right;
    border: solid 1px grey;
    padding: 3px;
    border-radius: 5px;
}
#owl-demo .item{
  margin: 3px;
  
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    /*max-width: 120px;*/
    
    
    margin-bottom: 5px;
}
#owl-demo .item img:hover {
    opacity: 0.6;
    max-width: 95%;
    margin-bottom: -10px;
}
.copyright {
    text-align: center;
    border-top: 3px solid grey;
    padding-top: 7px;
}
.owl-wrapper {
    margin: 0 auto;
}
.image {

    width: 80%;
    height: auto;
    margin: 20px;
    margin-top: -30px;
    -webkit-animation:spin 5s linear infinite;
    -moz-animation:spin 5s linear infinite;
    animation:spin 5s linear infinite;
}
.footer {
    margin-top: 15px;
}
#contactContent {
    /*width: 30em;*/
    height: 10em;
}
.form-control {
    width: 20em;
    
}
:focus {
	outline: none;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 

@media screen and (min-width: 720px) {
    .container {
        background-color: lightgreen;
    }
}
