body {
   /* background-color: skyblue*/;
    text-align: center;
   background-image: url(tlo.jpg)
    
}
.container {
    /*background-color: azure;*/
    font-size: 70pt;
    padding: 50px;
    padding-top: 20px;
    margin-top: 10px;
    width: 800px;
    font-weight: bold;
    /*border: 5px solid blue;*/
}
h1 {
    margin: 10px;
    padding: 10px;
    padding-bottom: 30px;
    font-size: 50pt;
    color: black;
    font-weight: bold;
}


.firstRow {
    border-bottom: solid black 3px;
    border-width: thick;
    
}
.secondRow {
    border-bottom: solid black 3px;
    border-width: thick;
}
.firstCol {
    border-right: solid black 3px;
    border-width: thick;
        
}

  

.tryAgain {
    display: none;
    padding: 5px;
    color: white;
    font-weight: bold;
    margin: 5px;
    font-size: 20pt;
    text-align: center;
    background-color: blue;
    border: 3px solid red;
    
}